nav {
  .submenu {
    background-color: $color-grey-light;
    padding-left: 1.70rem;

    a {
      font-size: smaller;
    }
  }

  &.breadcrumb {
    background-color: $color-white;
    padding: 0.75em 0;
    margin-bottom: 0;
  }

  &.header_navigation {
    ul {
      li {
        a {
          font-size: 0.95rem;
          font-weight: 500;
          padding-right: .5rem;
          padding-left: .5rem;
        }
      }
    }
  }

  &.primary_navigation {
    background-color: $color-grey-light;

    ul {
      li {
        &:first-child {
          a.nav-link {
            padding-left: 0;
          }
        }
      }
    }
  }
}

/**
Enable drop-down hover for desktop, keep on click for smaller devices
*/
@media only screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

// rm carets
.dropdown-toggle::after {
  display: none;
}

.navbar-light .navbar-nav .nav-link {
  color: $color-black;

  &:hover, &:focus {
    color: $color-blue-light;
    text-decoration: none;
  }
}

.nav-link, .banner .nav a {
  color: $color-blue-navy;

  &:hover, &:focus {
    color: $color-blue-light;
    background-color: transparent;
  }
}

.dropdown-item {
  border-bottom: 1px solid $color-grey-light;

  &:last-child {
    border-bottom: 0;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
  background: $color-grey-light;
}