nav {
  .submenu {
    background-color: $color-grey-light;
    padding-left: 1.70rem;

    a {
      font-size: smaller;
    }
  }

  &.breadcrumb {
    background-color: $color-white;
    padding: 0.75em 0;
    margin-bottom: 0;
  }

  &.header_navigation {
    ul {
      li {
        a {
          font-size: 0.95rem;
          font-weight: 500;
          padding-right: .5rem;
          padding-left: .5rem;
        }
      }
    }
  }
  &.primary_navigation {
    background-color:$color-grey-light;
  }
}

/**
Enable drop-down hover for desktop, keep on click for smaller devices
 */
@media only screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu{
    display:block;
  }
}

// rm carets
  .dropdown-toggle::after {
  display:none;
}

.nav-link, .banner .nav a {
  &:hover, &:focus{
    color: $color-blue;
    background-color: transparent;
  }
}

.dropdown-item {
  border-bottom: 1px solid #eee;
  &:last-child {
    border-bottom: 0;
  }
}
